.header {
    position: fixed;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 360px;
}

.heading {
    font-size: 48px;
    cursor: pointer;
}

.text {
    font-size: 16px;
}

@media screen and (max-width: 1048px) {
    .header {
        position: relative;
        padding: 80px 0 20px;
        bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 40px 0 20px;
    }
}

@media screen and (max-width: 640px) {
    .heading {
        font-size: 36px;
    }
}