.navbar {
    position: fixed;
    padding: 80px 0;
    top: 0;
    left: 64px;
    display: flex;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.links {
    display: flex;
    align-items: center;
    gap: 48px;
    list-style: none;
}

.link {
    font-size: 12px;
    cursor: pointer;
}

@media screen and (max-width: 1175px) {
    .navbar {
        left: 45px;
    }
}

@media screen and (max-width: 1048px) {
    .navbar {
        display: none;
    }
}
