:root {
    --primary-color: #ece7e1;
    --secondary-color: #1a1818;

    --color-hover: #555555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, 
body {
    background: var(--primary-color);
    color: var(--secondary-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.app {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 1850px;
}

.dark {
    background: #1a1818;
    color: #ece7e1;
}

.theme {
    transition: 1s all ease;
}

@media screen and (max-width: 1175px) {
    .app {
        padding: 0 50px;
    }
}

@media screen and (max-width: 767px) {
    .app {
        padding: 0 20px;
    }
}
