:root {
    --primary-color: #ece7e1;
    --secondary-color: #1a1818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, 
body {
    background: var(--primary-color);
    color: var(--secondary-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.app {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1850px;
}
