.home {
    display: flex;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

@media screen and (max-width: 1048px) {
    .home {
        flex-direction: column;
    }

    .container {
        gap: 60px;
    }
}

@media screen and (max-width: 1048px) {
    .home {
        flex-direction: column;
    }

    .container {
        gap: 60px;
    }
}
